* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body, html {
  width: 100%;
  height: 100%;
}

h1 {

  background-color: #081b31;
  color: #fff;
  height: 3rem;
  
  line-height: 1.3;
  word-break: break-word;
  max-width: 100%;
  padding: 1rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; /* Combined hover effect */
}

.choice:hover {
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 3rem;
  padding: 0 1rem; /* Padding for small screens */
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  line-height: 1.3;
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 1rem ;
}

/* Responsive Design */
@media (max-width: 768px) {
  .choices {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    overflow: hidden;
  }

  .choice {
    height: 120px;
    width: 120px;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .score-board {
   
    font-size: 1.2rem;
    gap: 2rem;
    margin-top: 2rem;
  }

  #user-score,
  #comp-score {
    font-size: 3rem;
  }

  .msg-container {
    margin-top: 2rem; /* Reduced top margin */
    padding: 0 2rem; /* Better spacing */
  }

  #msg {
    font-size: 1.3rem; /* Adjust font size */
    padding: 1rem 1.2rem; /* Adjust padding */
    margin-bottom: 2rem; /* Bottom margin for spacing */
  }
}
